.QuizColumn{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
}

.QuizColumnGrid{
    height: 100%;
    align-content: center;
}

.QuizCardItem{
    background: transparent !important;
    width: 100%;
}

.QuizCardHeader{
    width: 100%;
    background: var(--cardColor) !important;
}

.QuizCardTopic{
    color: var(--text);
    margin: 0;
}