.QuizBoard{
    background-color: var(--backgroundDarker);
    border-radius: 5px;
    align-self: center;
    flex-grow: 1;
    width: 100%;
}

.QuizBoardStack{
    height: calc(100% - 30px);
    margin: 15px
}