.QuizColumn{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
}

.QuizColumnGrid{
    height: 100%;
    align-content: center;
}

.QuizCardItem{
    background: transparent !important;
    width: 100%;
}

.QuizCardHeader{
    width: 100%;
    background-image: linear-gradient(0deg,var(--secondaryLight),var(--primary));
    /* background: var(--quizCard) !important; */
}

.QuizCardTopic{
    color: var(--text);
    margin: 0;
}