:root{
  --primary: #8c81f3;
  --secondary: #d4d1f3;
  --secondaryLight: #eae8fc;
  --accent: #577d98;
  --background: #ffffff;
  --text: black;
  --quizCard: var(--secondary); 
  --quizCardLight: var(--secondaryLight);
  /* --quizCard: #c2cdd6; */
  --quizBoardBackground: var(--secondary);
}

.App {
  text-align: center;
  background-image: radial-gradient(var(--primary), var(--background));
  /* background-image: linear-gradient(45deg,var(--background),var(--primary)); */
}

